{% extends "main.html" %}
{% load static %}

{% block title %}
Kontakt - JU Tehnička Škola Brčko distrikt BiH
{% endblock %}

{% block content %}
<h1 class="contacttitle">Kontaktirajte nas</h1>
<div class="contactitemscontainer">
  <div class="contactitems">
    <div class="contactitem">
      <i
        class="fa-solid fa-location-dot fa-10x contact-icon"
        style="color: white"
      ></i>
      <p>Musala 44, 76100 Brčko</p>
    </div>
    <div class="contactitem">
      <i
        class="fa-solid fa-phone fa-10x contact-icon"
        style="color: white"
      ></i>
      <p>049-217-052</p>
    </div>
    <div class="contactitem">
      <i class="fa-solid fa-envelope fa-10x" style="color: white"></i>
      <p>tehnickaskolabrcko@gmail.com</p>
    </div>
  </div>
</div>
<div class="logo-decoration">
  <div class="line"></div>
  <img src="img/tehnicka-logo.png" alt="" />
  <div class="line"></div>
</div>
<h1 class="socialmediatext">
  Uključite se i na društvenim <br />
  mrežama
</h1>
<div class="socialmediashowcase">
  <div class="socialmediashowcaseholder">
    <div class="socialmediaicontiktok">
      <i class="fa-brands fa-tiktok fa-10x iconcolor"></i>
    </div>
    <div class="socialmediaiconfacebook">
      <i class="fa-brands fa-facebook-f fa-10x iconcolor"></i>
    </div>
    <div class="socialmediaiconinstagram">
      <i class="fa-brands fa-instagram fa-10x iconcolor"></i>
    </div>
    <div class="socialmediaiconnone"></div>
  </div>
</div>
{% endblock %}