{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Test</title>
</head>
<body>
    <header class="header">
        <img class="logo unselectable" src="{% static 'img/tehnicka.png' %}" alt="logo">
    </header>¸
    <img class="background unselectable" src="{% static 'img/skola.png' %}" alt="škola">
    <div class="navigation-bar">
    <div class="navigation">
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-palette fa-lg" style="color: #1e1d20;"></i>Sekcije</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-bullhorn fa-lg" style="color: #1f1d20;"></i>Vijesti</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-pencil fa-lg" style="color: #1f1d20;"></i>Upis</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-school fa-lg" style="color: #1f1d20;"></i>Prostor</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-graduation-cap fa-lg" style="color: #1f1d20;"></i>Smjerovi</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-calendar-days fa-lg" style="color: #1f1d20;"></i>Događaji</div></a>
        <a href="#"><div class="navitem unselectable"><i class="fa-solid fa-at fa-lg" style="color: #1f1d20;"></i>Kontakt</div></a>

    </div>
</div>
    
</body>
</html>