<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mašinstvo</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <img class="logodark" src="img/cringlogo.png" alt="" />
      <p class="paratehnicka">TEHNIČKA</p>
      <p class="parabrcko">BRČKO</p>
    </header>

    <div class="smijernavbar">
      <div class="smijernavitem">
        <img src="/img/tekstilni.png" alt="" />
        <p>Tekstilstvo</p>
      </div>
      <div class="smijernavitem">
        <img src="/img/saobracaj.png" alt="" />
        <p>Saobraćaj</p>
      </div>
      <div class="smijernavitem">
        <img src="/img/masinstvo_.png" alt="" />
        <p>Mašinstvo</p>
      </div>
      <div class="smijernavitem">
        <img src="/img/geodezija.png" alt="" />
        <p>GeoGrađe</p>
      </div>
      <div class="smijernavitem">
        <img src="/img/Elektro.png" alt="" />
        <p>Elektrotehnika</p>
      </div>
    </div>

    <div class="banner">
      <img src="/img/masinstvo_.png" alt="" />
      <h1>Mašinstvo i<br />Obrada Metala</h1>
    </div>

    <footer class="kontaktirajnas">
      <div class="contactsection">
        <a href="#" class="contactbutton">Kontaktiraj nas</a>
      </div>
      <div class="copyright-social">
        <p class="copyrighttext">&copy;Almin Brodlić & Ajdin Ljuca Ltd.</p>
        <img class="footerlogo" src="img/tehnicka.png" alt="logo" />
        <div class="social">
          <a
            class="socialicon"
            target="_blank"
            href="https://www.facebook.com/TehnickaBrcko"
            ><i class="fa-brands fa-facebook-f fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.instagram.com/tehnickaskolabrcko"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-instagram fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.tiktok.com/@informacionodrustvo"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-tiktok fa-lg" style="color: #1e1d20"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
