{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <title>News2</title>
  </head>
  <body>
    <body>
      <header class="header">
        <img class="logodark" src="img/cringlogo.png" alt="" />
        <p class="paratehnicka">TEHNIČKA</p>
        <p class="parabrcko">BRČKO</p>
      </header>
      <div class="navigation-barnews" id="navbar">
        <div class="navigation">
          <a href="#"
            ><div class="navitem unselectable">
              <i class="fa-solid fa-palette fa-lg" style="color: #1e1d20"></i
              >Sekcije
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i class="fa-solid fa-bullhorn fa-lg" style="color: #1f1d20"></i
              >Vijesti
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i class="fa-solid fa-pencil fa-lg" style="color: #1f1d20"></i>Upis
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i class="fa-solid fa-school fa-lg" style="color: #1f1d20"></i
              >Prostor
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i
                class="fa-solid fa-graduation-cap fa-lg"
                style="color: #1f1d20"
              ></i
              >Smjerovi
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i
                class="fa-solid fa-calendar-days fa-lg"
                style="color: #1f1d20"
              ></i
              >Događaji
            </div></a
          >
          <a href="#"
            ><div class="navitem unselectable">
              <i class="fa-solid fa-at fa-lg" style="color: #1f1d20"></i>Kontakt
            </div></a
          >
        </div>
      </div>

<div class="newspage">
      <div class="emptyspace"></div>
      <div class="actualarticle">
        <div class="actualarticlelogo">
          <div class="articlelogoline"></div>
          <img class="articlelogolineimg" src="img/tehnicka-logo.png" alt="">
          <div class="articlelogoline"></div>
        </div>
        <h1 class="articletitle">DA LI TEHNIČARIMA SMRDU NOGE?</h1>
        <div class="articledateholder">
        <p class="articledate">1. April 2023</p>
      </div>
      <div class="articleholder">
      <img class="articleimg" src="img/spong.jpg" alt="">
      <p class="articletext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deleniti suscipit autem dolores quo ea id natus, doloribus aliquam magnam voluptatem recusandae est labore vitae! Amet facilis quia omnis praesentium, repudiandae voluptate natus voluptatibus blanditiis? Nulla dolorem, doloremque natus sunt accusantium architecto? Cumque libero natus dignissimos delectus culpa, totam neque!</p>
    </div>
      </div>
      <div class="emptyspace"></div>
    </div>
    
    <footer class="kontaktirajnas">
      <div class="contactsection">
        <a href="#" class="contactbutton">Kontaktiraj nas</a>
      </div>
      <div class="copyright-social">
        <p class="copyrighttext">&copy;Almin Brodlić & Ajdin Ljuca Ltd.</p>
        <img class="footerlogo" src="img/tehnicka.png" alt="logo" />
        <div class="social">
          <a
            class="socialicon"
            target="_blank"
            href="https://www.facebook.com/TehnickaBrcko"
            ><i class="fa-brands fa-facebook-f fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.instagram.com/tehnickaskolabrcko"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-instagram fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.tiktok.com/@informacionodrustvo"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-tiktok fa-lg" style="color: #1e1d20"></i
          ></a>
        </div>
      </div>
    </footer>

  </body>
</html>
