{% load static %}
<!DOCTYPE html>
<html lang="bs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JU Tehnička Škola Brčko</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script src="script.js"></script>
  </head>
  <body>
    <header class="header">
      <img class="logodark" src="img/cringlogo.png" alt="" />
      <p class="paratehnicka">TEHNIČKA</p>
      <p class="parabrcko">BRČKO</p>
    </header>
    <div class="navigation-barnews" id="navbar">
      <div class="navigation">
        <a href="#"
          ><div class="navitem unselectable">
            <i class="fa-solid fa-palette fa-lg" style="color: #1e1d20"></i
            >Sekcije
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i class="fa-solid fa-bullhorn fa-lg" style="color: #1f1d20"></i
            >Vijesti
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i class="fa-solid fa-pencil fa-lg" style="color: #1f1d20"></i>Upis
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i class="fa-solid fa-school fa-lg" style="color: #1f1d20"></i
            >Prostor
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i
              class="fa-solid fa-graduation-cap fa-lg"
              style="color: #1f1d20"
            ></i
            >Smjerovi
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i
              class="fa-solid fa-calendar-days fa-lg"
              style="color: #1f1d20"
            ></i
            >Događaji
          </div></a
        >
        <a href="#"
          ><div class="navitem unselectable">
            <i class="fa-solid fa-at fa-lg" style="color: #1f1d20"></i>Kontakt
          </div></a
        >
      </div>
    </div>
    <div class="page">
      <div class="spacing"></div>
      <div class="article">
        <div class="title">
          <img src="img/quotation.png" alt="" />
          <h1>Je li tehničarima smrdu noge?</h1>
          <p>April 1. 2023</p>
        </div>
        <p>
          Biranjem tehničke osiguravate se za opciju sa visokom potražnjom na
          današnjem tržištu ,koja se očekuje da će rasti još više u budućnosti,
          što znači finanfijsku stabilnost.Smijerovi mogu nuditi intelektualni
          izazov za zainteresovane i prijateljsko okruženje za prosječnog
          učenika. Uz široku lepezu naučenih znanja postoji prostor za
          izražavanje kreativnosti pojedinca kroz izgradnju niza projekata na
          praktičnoj nastavi.Konačno,tehničke nauke su stub zajednice,tako da će
          okolina uvažavati vaše znanje.
        </p>
        <img class="article-pic" src="img/articlepic.jpg" alt="" />
      </div>
      <div class="foryou"></div>
    </div>

    <footer class="kontaktirajnas">
      <div class="contactsection">
        <a href="#" class="contactbutton">Kontaktiraj nas</a>
      </div>
      <div class="copyright-social">
        <p class="copyrighttext">&copy;Almin Brodlić & Ajdin Ljuca Ltd.</p>
        <img class="footerlogo" src="img/tehnicka.png" alt="logo" />
        <div class="social">
          <a
            class="socialicon"
            target="_blank"
            href="https://www.facebook.com/TehnickaBrcko"
            ><i class="fa-brands fa-facebook-f fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.instagram.com/tehnickaskolabrcko"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-instagram fa-lg" style="color: #1e1d20"></i
          ></a>
          <a
            href="https://www.tiktok.com/@informacionodrustvo"
            target="_blank"
            class="socialicon"
            ><i class="fa-brands fa-tiktok fa-lg" style="color: #1e1d20"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
