{% extends "main.html" %}
{% load static %}

{% block title %}
Prostor - JU Tehnička Škola Brčko distrikt BiH
{% endblock %}

{% block content %}

<div class="info">
    <div class="text">
      <div class="text-content">
      <h1>Caution! Almin wasn't here!</h1>
      <p>If you are seeing this, it means that the page has loaded correctly but 
        Almin just hasn't finished working on <strong>prostor.html</strong> yet. </p>
    </div>
    </div>
    <div class="image">
      <img class="spongbob" src="{% static 'img/spong.jpg' %}" alt="">
    </div>
  </div>
{% endblock %}





