{% extends "main.html" %}
{% load static %}

{% block title %}
Prostor - JU Tehnička Škola Brčko distrikt BiH
{% endblock %}

{% block content %}

<div class="choosetext">
  <h1>
    Izaberite smijer o kojem <br />
    želite saznati više
  </h1>
</div>

<a href="/#">
<div class="display">
  <div class="display-img">
    <img src="{% static 'img/saobracaj.png' %}" alt="" />
    <p>Saobraćaj</p>
  </div>
</a>


<a href="/#">
  <div class="display-img">
    <img src="{% static 'img/tekstilni.png' %}" alt="" />
    <p>
      Tekstilstvo i <br />
      Kožarstvo
    </p>
  </div>
</a>


<a href="/#">
    <div class="display-img">
    <img src="{% static 'img/geodezija.png' %}" alt="" />
    <p>
      Geodezija i <br />
      Građevinarstvo
    </p>
  </div>
</a>



<a href="/#">
  <div class="display-img">
    <img src="{% static 'img/Elektro.png' %}" alt="" />
    <p>Elektrotehnika</p>
  </div>
</a>


<a href="/#">
  <div class="display-img">
    <img src="{% static 'img/masinstvo_.png' %}" alt="" />
    <p>
      Mašinstvo i <br />
      Obrada Metala
    </p>
  </div>
</div>
</a>

{% endblock %}