{% extends "main.html" %}
{% load static %}

{% block title %}
Vijesti - JU Tehnička Škola Brčko distrikt BiH
{% endblock %}

{% block content %}

<!--Najnovija vijest-->
<a href="Clanak/{{ najnovija_vijest.id }}">
<div class="page">
  <div class="mainnewsimg">
    <div class="mainnewsimginfo">
      <p class="mainnewsimgtitle">{{ najnovija_vijest.name }}</p>
      <p class="mainnewsimgbio">
      {{ najnovija_vijest.test }}
      </p>
      <p class="mainnewsimgdate">{{ najnovija_vijest.objavljen }}</p>
      <a class="mainnewsimgread" href="Clanak/{{ najnovija_vijest.id }}">Čitaj</a>
    </div>
  </div>
</a>

<!--Nove vijesti-->
{% for x in nove_vijesti %}
<li><a href="Clanak/{{ x.id }}">

  <div class="articles">
    <div class="articleitem">
      <img class="articleitemimg" src="" alt="" />
      <p class="articleitemtitle">  {{ x.name }}</p>
      <p class="articleitembio">
        {{ x.test }}
      </p>
      <p class="articleitemdate">{{ x.objavljen }}</p>
      <p class="articleitemread">Čitaj</p>
    </div>
  </div>

</a></li>
{% endfor %}



<!--Za šaltanje-->
  <div class="newsnavigation">
    <button class="newsnavbutton">&lt;</button>
    <div class="newsnavdots">· · · · ·</div>
    <button class="newsnavbutton">&gt;</button>
  </div>
</div>

<!--Stare vijesti-->
{% for x in stare_vijesti %}
<li><a href="Clanak/{{ x.id }}">

  <div class="newsarticles">
    <div class="newsarticleitems">
      <img class="newsarticleitemimg" src="" alt="" />
      <div class="newsarticleinfo">
        <p class="newsarticletitle">{{ x.name }}</p>
        <p class="newsarticledate">{{ x.objavljen }}</p>
        <p class="newsarticletype"></p>
      </div>
    </div>
  </div>  

</a></li>
{% endfor %}

<!--More dugme-->
<button class="newsarticlemorebtn">More</button>

{% endblock %}
