* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

 /*NAV*/

.navigation-bar {
    margin-top: 700px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    height: 100%;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
}

.navitem {
    height: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1d20;
    font-weight: 500;
    filter: invert(1);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /*padding: 7px;
    border-bottom: 1px solid #1e1d20;
    border-radius: 1px; */
}

a {
    text-decoration: none;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navitem:active {
    padding: 7px;
    border-bottom: 1px solid #1e1d20;
    border-radius: 1px;
}

.header {
    height: 17vh;
    

}

.logo {
    width: 7vw;
    position: absolute;
    left: 2vw;
    top: 2vh;

}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    width: 100vw;
    background-image: linear-gradient(to top, rgba(91,89,92,0) rgba(91,89,92,1));
}